@model List<AlrightBooks.Models.Books>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <h3>Author</h3>
            </th>
            <th>
                <h3>Rating</h3>
            </th>
            <th>
                <h3>Title</h3>
            </th>
            <th>
                <h3>Image</h3>
            </th>
            <th>
                <h3>ISBN</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImgURL)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name="Author" class="form-control" type="hidden" value="@item.Author" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input name="AvgRating" class="form-control" type="hidden" value="@item.AvgRating" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input name="Title" class="form-control" type="hidden" value="@item.Title" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input name="ImgURL" class="form-control" type="hidden" value="@item.ImgURL" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input name="ISBN" class="form-control" type="hidden" value="@item.ISBN" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add to My Books" class="btn btn-default" />
                        </div>
                    </form>
                </td>
                
            </tr>
         }
    </tbody>
</table>

