@model IEnumerable<AlrightBooks.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" type="text/css" />
<h2>My Library</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImgURL)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @* This hidden form auto-creates and posts the selected book to the users book list. *@
                    <form asp-action="ReadBook">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name="bookISBN" class="form-control" type="hidden" value="@item.ISBN" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add to My Books" class="btn btn-default" />
                        </div>
                    </form>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
